.topbar {
  display: flex;
  align-items: center;
}

.logo {
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

.nav {
  background-color: rgb(10, 122, 188);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav a {
  font-size: x-large;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: rgb(135, 206, 235);
}

.contactButtonContainer {
  margin-left: 10px;
  background-color: rgb(10, 122, 188);
  height: 100%;
  display: flex;
}

.contactButton {
  text-align: center;
  font-size: x-large;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  transition: background-color 0.3s ease;
}

.contactButton:hover {
  background-color: rgb(135, 206, 235);
}

#current {
  color: rgb(135, 206, 250);
}

#current:hover {
  color: rgb(0, 191, 255);
}

p {
  font-size: 20px;
  margin: 10px;
}

button {
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font-size: x-large;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #008CBA;
  color: white;
}

.form {
  background-color: rgb(10, 122, 188);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(135, 206, 235);
  font-size: 18px;
  outline: 0;
  padding: 10px 15px;
  width: 100%;
}

/* Make textarea resizable */
.textarea {
  min-height: 100px;
  resize: vertical;
}

.cut {
  background-color: rgb(10, 122, 188);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  width: 68px;
}

.cut-short {
  width: 50px;
}

.placeholder {
  color: rgb(135, 206, 235);
  font-family: sans-serif;
  left: 20px;
  position: absolute;
  top: 20px;
  transition: transform 200ms, color 200ms;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  color: rgb(135, 206, 235);
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  width: 100%;
}

.submit:active {
  background-color: rgb(135, 206, 235);
}
